@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(25, 25, 25);
}

header {
  display: flex;
  height: 15%;
  align-items: center;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50%;
  justify-content: center;
  align-items: center;
}

table {
  margin: 60px auto;
  text-align: center;
  width: 80%;
  border-collapse: collapse;
  font-size: 15px;
  border: 1px solid white;
}
