<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- *-mapper.xml 파일
	SQL 문을 xml 방식으로 작성하는 파일
	SQL 문을 Dao 클래스에 문자열로 작성을 하는데
	이 방식은 mybatis 3.5 이상에서만 사용할 수 있다
	또한 문자열로 작성하는 SQL은 상대적으로 오류가 발생할 확률이 높다.
	다양한 SQL 문을 구현하기가 다소 불편하다.
	
	xml 방식으로 SQL 을 작성하는 것은 전통적으로 mybatis에서 많이 사용하고
	다양한 SQL 구현이 유리하다
	
	mybatis Dao interface 와 mapper.xml 파일을 조합하여
	내부에서 실제 클래스를 구현한다
	
	각 SQL 에 부착된 resultType : select, findBy* method 의 return type 을 지정
	parameterType : insert, update 의 매개변수 type 을 지정
	
	public List<StudentVO> selectAll()
	public int insert(StudentVO vo)
	
 -->
 <mapper namespace="com.callor.school.persistance.UserDao">

	<select id="selectAll" resultType="UserVO">
		SELECT * FROM tbl_user
	</select>
	<select id="findById" resultType="UserVO">
		select * from tbl_user where username= #{username}
	</select> 
	<insert id="insert" parameterType="UserVO">
		insert into tbl_user (
		username, 
		password, 
		name, 
		email, 
		role) 
		VALUES(
		#{username},
		#{password},
		#{name},
		#{email},
		#{role}
		)
	</insert>
	
	<update id="update" parameterType="UserVO">
		update tbl_user SET
		
			password = #{password},
			email= #{email},
			name = #{name},
			role = #{role}
		WHERE username = #{username}
	</update>
	<delete id="delete">
		DELETE FROM tbl_user WHERE username = #{username}
	</delete>
	
 </mapper>
 