@charset "UTF-8";
/*
	home.jsp 에 적용할 css
	header, nav, footer 등의 설정
*/

header {
	padding : 1.2rem;
	text-align: center;
	background-color: rgb(193,226,237);
	color: rgb(47,41,41);
	font-weight: 900;
}
nav {
	background-color: skyblue;
	color: white;
}
nav ul {
	list-style: none;
	display: flex;
}
nav li {
	padding: 3px 16px;
	margin: 15px;
	border-bottom: 5px solid transparent;
	font-weight: 900;
	font-size: 20px;
	transition: border 0.7s ease-out;	
}
nav li:hover {
	cursor: pointer;
	border-bottom : 5px solid rgb(241, 241, 114);
}
/*
	nav 등에 a tag 를 사용할 때
	보통 일반적인 태그는 부모 태그에 설정된 스타일을 상속받아 자연스럽게 구성이 된다.
	하지만 a 태그는 font, color, text-style 등을 부모 tag로부터 상속받지 않는다.
	항상 스스로의 모습만 고집하는 태그이다.
	a 태그에서는 text-decoration 과 font의 color 등을 자체적으로 설정을 해야한다.
*/

a {
	text-decoration: none;
}
/*
	a tag 의 컬러를 자체적으로 설정할 수 있지만
	nav 태그와 함께 사용할 때는 nav 에서 컬러를 설정하고
	a tag 에서는 nav의 컬러를 강제로 상속받도록 설정한다.
	
	color: inherit
	만약 nav 의 컬러를 변경했을 때 a 태그도 다시 변경해야하는 불편함을 줄일 수 있다.
*/
nav a {
	color: inherit;
}