<!DOCTYPE html>
<html>
<head>
	<th:block th:include="includes/include-head.html" />
</head>
<body>
	<th:block th:include="includes/include-header.html" />
	<ul class="student list">
		<li class="student stnum">학번</li>
		<li class="student stname">이름</li>
		<li class="student stdept">학과</li>
		<li class="student sttel">전화번호</li>
		<li class="student staddr">주소</li>
	</ul>

	<div class="student body" th:each="ST : ${STUDENTS}" th:object="${ST}">
		<ul class="student list" th:attr="data-stnum=*{st_num}" >
			<li class="student stnum" th:text="*{st_num}">학번</li>
			<li class="student stname" th:text="*{st_name}">이름</li>
			<li class="student stdept" th:text="*{st_dept}">학과</li>
			<li class="student sttel" th:text="*{st_tel}">전화번호</li>
			<li class="student staddr" th:text="*{st_addr}">주소</li>
		</ul>
	</div>
	<footer>
	</footer>
</body>
</html>